body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: antiquewhite;
}

h1 {
    margin: 10px;
}

.line {
    width: 100%;
    height: 1px;
    background-color: black;
}

.post-container {
    background-color: rgb(93, 134, 136);
    height: 200px;

    margin: 10px;
}

.name-date {
    background-color: rgb(196, 210, 235);
    margin-bottom: 10px;

}

.msg {
    background-color: rgb(226, 221, 221);
    height: 150px;
    margin: 10px;
}