body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: antiquewhite;
}

h1 {
    margin: 10px;
}

.line {
    width: 100%;
    height: 1px;
    background-color: black;
}

.post-container {
    background-color: rgb(192, 132, 147);
    height: 200px;

    margin: 20px;
}

.name-date {
    background-color: rgb(179, 119, 136);
    margin-bottom: 10px;
    height: 20px;
    border: 1px solid black;
}

.msg {
    background-color: rgb(226, 221, 221);
    height: 100px;
    margin: 10px;
}

.post-input {
    width: 600px;
    height: 50px;
    margin: 10px;
}

.postbtn {
    width: 100px;
    height: 50px;
    margin: 10px;
}

.enter-post {
    display: flex;
    flex-direction: column;
}

.del {
    background-color: rgb(226, 221, 221);
    cursor: pointer;
}

.del:hover {
    background-color: rgb(201, 112, 134);
}

.edt {
    background-color: rgb(226, 221, 221);
    cursor: pointer;
}

.edt:hover {
    background-color: rgb(201, 112, 134);
}